#vencimento{
	font-size: 24px;
}

#Valor{
		font-size: 24px;
	
}

#pagamento{
	font-size: 24px;
	
}

}
.tamanholabel{
    
    font-size:24 px !important;
    
}


}

#cabecalho{
	
	margin-left:5px;
	margin-right:9px;

}
.alert {
	margin-left:1px;
	margin-right:1px;
}
.navbar-brand{
	margin-left:15px;
	margin-rigth:15px;
}

#juca{
	margin-left:15px;
	margin-right:15px;
	
}
.gft-link-panel{
	float: right;
	padding-top:2px;

}

.gft-titulo-panel{
		float: left;
		padding-top:2px;
	
}
#pig{
	font-size: 20px;
}

#pigs{
	font-size: 20px;
	
}
#laia{
	font-size: 20px;
	padding-top:2px;
	padding-top:2px;

	
}